#root {
  max-width: 1280px;
  padding: 10px;
  width: 100%;
  padding: 30px 15px;
}

body {
  place-items: center;
  display: flex;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.json-container {
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.root-container {
  display: flex;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}
main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
button {
  background-color: rgb(59, 149, 59);
  min-width: 100px;
  max-width: 150px;
}

@media screen and (min-width: 900px) {
  #root {
    padding: 20px 40px;
  }
  .root-container {
    flex-wrap: nowrap;
  }
}
